pdc_server.exe
*.so
pdc/*.c
build/**
**/pdc_tmp/**
docs/build/html/.buildinfo
**/__pycache__/**
**/pdc_data/**
ctests/*.out
docs/build/
cython_debug/**
**/ctrace.txt
.pypirc
dist/**
.pytest_cache/**
**/*.egg-info/**
.vscode/
